/* Custom styles */

body.blue {
    --dark-black: #1c1c25;
    --smoke: #c4c4c4;
    --blue: #2a4bb3;
    --medium-black: #25252f;
    --black: #101016;
    --soft-black: #3b3b44;
    --dark-blue: #213e9a;
    --black-blue: #1f367e;
    --dark-red: #95234c;
    --dark-yellow: #b58622;
    --dark-purple: #4548a9;
    --red: #e72a6e;
    --yellow: #ecb236;
    --white-smoke: #f7efdd;
    --purple: #7174db;
    --green: #44ac9e;
    --dark-green: #267267;
    --light-blue: #536cbb;
}

body {
    font-family: Arial, sans-serif;
    background-image: radial-gradient(circle, rgba(229, 229, 229, 0.03) 20%, transparent 10%), radial-gradient(circle, rgba(229, 229, 229, 0.03) 20%, transparent 10%);
    background-size: 1em 1em;
    background-position: 50% 50%;
    background-color: var(--dark-black);
}

.first-column {
    background-color: var(--blue);
}

#avatar {
    position: relative;
    height: 240px;
    background-image: linear-gradient(45deg, rgba(40, 99, 151, 0.2) 0%, rgba(40, 99, 151, 0.2) 16.667%, rgba(20, 84, 131, 0.2) 16.667%, rgba(20, 84, 131, 0.2) 33.334%, rgba(30, 92, 141, 0.2) 33.334%, rgba(30, 92, 141, 0.2) 50.001%, rgba(59, 114, 172, 0.2) 50.001%, rgba(59, 114, 172, 0.2) 66.668%, rgba(69, 122, 182, 0.2) 66.668%, rgba(69, 122, 182, 0.2) 83.335%, rgba(49, 107, 162, 0.2) 83.335%, rgba(49, 107, 162, 0.2) 100.002%), linear-gradient(0deg, rgba(40, 99, 151, 0.2) 0%, rgba(40, 99, 151, 0.2) 16.667%, rgba(20, 84, 131, 0.2) 16.667%, rgba(20, 84, 131, 0.2) 33.334%, rgba(30, 92, 141, 0.2) 33.334%, rgba(30, 92, 141, 0.2) 50.001%, rgba(59, 114, 172, 0.2) 50.001%, rgba(59, 114, 172, 0.2) 66.668%, rgba(69, 122, 182, 0.2) 66.668%, rgba(69, 122, 182, 0.2) 83.335%, rgba(49, 107, 162, 0.2) 83.335%, rgba(49, 107, 162, 0.2) 100.002%), linear-gradient(90deg, rgba(40, 99, 151, 0.2) 0%, rgba(40, 99, 151, 0.2) 16.667%, rgba(20, 84, 131, 0.2) 16.667%, rgba(20, 84, 131, 0.2) 33.334%, rgba(30, 92, 141, 0.2) 33.334%, rgba(30, 92, 141, 0.2) 50.001%, rgba(59, 114, 172, 0.2) 50.001%, rgba(59, 114, 172, 0.2) 66.668%, rgba(69, 122, 182, 0.2) 66.668%, rgba(69, 122, 182, 0.2) 83.335%, rgba(49, 107, 162, 0.2) 83.335%, rgba(49, 107, 162, 0.2) 100.002%), linear-gradient(90deg, rgb(36, 17, 207), rgb(135, 249, 243));
}

.icons i {
    font-size: 50px;
    display: none;
    /* Hidden initially */
    transition: opacity 0.5s ease-in-out;
}


.message {
    background: #0B93F6;
    color: #fff;
    align-self: flex-start;
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    position: relative;
    padding: 10px 20px;
    border-radius: 25px;
    position: absolute;
    right: 60px;
    top: 50px;
}

.message:before,
.message:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25px;
}

.message:before {
    left: -7px;
    width: 20px;
    background-color: #0B93F6;
    border-bottom-right-radius: 16px 14px;
}

.message:after {
    left: -26px;
    width: 26px;
    background-color: #3a3372;
    border-bottom-right-radius: 10px;
}

#draggable {
    float: left;
}

#droppable {
    width: 125px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.bg-dark-blue {
    background-color: var(--dark-blue);
    /* Your custom dark blue */
}

@keyframes bounceDown {
    0% {
        transform: scale(1) translateY(0);
    }

    20% {
        transform: scale(1) translateY(20px);
    }

    40% {
        transform: scale(1) translateY(30px);
    }

    60% {
        transform: scale(1) translateY(35px);
    }

    80% {
        transform: scale(1) translateY(25px);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}

.bounce {
    animation: bounceDown 0.5s ease;
}

#boyFace {
    transition: transform 0.3s ease;
    margin: auto;
    cursor: pointer;
}










@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }

    to {
        background-position: 0 0;
    }
}

.progress-bar-striped {
    background-image: linear-gradient(45deg,
            rgba(255, 255, 255, 0.15) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.15) 50%,
            rgba(255, 255, 255, 0.15) 75%,
            transparent 75%,
            transparent);
    background-size: 1rem 1rem;

}

.progress-bar-animated {
    animation: progress-bar-stripes 1s linear infinite;
}

.progress-bar-striped {
    display: block;
    text-indent: 80px;
    font-size: 30px;
}

.contact-me-btn {
    border: none;
    outline: none;
    background-color: var(--green);
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px var(--dark-green);
}
.progress-bar-striped i{
    font-size: 30px;
    position: relative;
    top: -10px;
}